<div class="card mb-3 border-1 border-info rounded manager m-1 p-0" style="max-width: 18rem;">
    <div class="card-header text-info bg-dark bold">
        <h4 class="card-title job">Manager</h4>
        <h5 class="card-title name"> {name} </h5>
    </div>
    <div class="card-body text-info bg-light">
        <ul class="card-text p-0">
            <li class="card-text list-group-item">ID: {id} </li>
            <li class="card-text list-group-item">Email: <a href="mailto:{email}">{email}</a></li>
            <li class="card-text list-group-item">Office Number: {officeNumber}</li>
        </ul>
    </div>
</div>